@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --first-color: #F1C584;
    --second-color: #c27415;
    --third-color: #ffffff6b;
    --fourth-color: #2b2a2a;
    --fifth-color: #d5a762;
    --font: 'JetBrains Mono', monospace;
}

* {
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px; 
    line-height: 150%;
}

body{
    background: var(--first-color);
}

.logo {
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    height: 50px;
}


main {
    display: flex;
    margin-bottom: 4px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 70px;
}

.text__and__buttons{
    margin-left: 100px;
}

.text__area {
    border: none;
    color: var(--second-color);
    margin-bottom: 90px;
    padding-top: 25px;
    text-transform: lowercase;
    font-size: 32px;
    box-sizing: border-box;
    resize: none; 
    width: 600px;
    height: 265px;
    background: var(--first-color);
}

.text__area:focus {
    outline: none;
}

::placeholder {
    color: #9a5c10a0;
    font-size: 32px;
}

.information {
    display: flex;
    align-items: center; 
    gap: 6px; 
    margin-bottom: 5px;
    margin-top: 80px;
}

.information img {
    width: 10px; 
    height: 10px; 
}

.information h6 {
    margin: 0; 
    font-size: 12px; 
    font-weight: 200; 
    color: var(--fourth-color); 
}

.buttons {
    display: flex;
    gap: 30px;
}

.buttons__ecrypt {
    border: none;
    border-radius: 24px;
    background-color: var(--second-color);
    color: white;
    width: 300px;
    height: 67px;
    text-align: center;
}

.buttons__decrypt {
    border: none;
    border-radius: 24px;
    background-color: var(--second-color);
    color: white;
    width: 300px;
    height: 67px;
    text-align: center;
}

.message {
    border: none;
    border-radius: 24px;
    background: var(--third-color); 
    position: fixed;
    overflow: auto;
    margin-left: 0px;

    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 580px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.message h1,
.message h3, .message img {
    margin: 0;
    text-align: center;
}

.message img {
    height: 250px; 
    width: auto;
}

.message h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--second-color);
}

.message h3{
    font-size: 14px;
    font-weight: 300;
}

.buttons {
    display: flex;
    margin-top: 18px;
}
