@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --first-color: #efc382;
    --second-color: #dd8b26;
    --third-color: #ffffff6b;
    --fourth-color: #2b2a2a;
    --fifth-color: #d5a762;
    --font: 'Poppins', sans-serif;
}

* {
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem; 
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--first-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
}

header {
    position: relative; /* Permite usar transform sem afetar o layout do restante */
    top: 0.625rem; /* Ajusta a distância do topo */
    transform: translateX(0.625rem); /* Inclina o cabeçalho para a direita */
}

main {
    display: flex;
    flex: 1 1 1 1;
    flex-direction: row;
    margin: 3.125rem auto;
    margin-top: 1.5rem;
    margin-bottom: 0.625rem;
    max-width: 75rem;
    max-height: 45.813rem;
    gap: 3.75rem;
}

header .logo {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 2.5rem;
    height: auto;
    margin-left: 2rem;
}

.text__and__buttons{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

#text__area {
    border: none;
    color: var(--second-color);
    padding-top: 0.313rem;
    text-transform: lowercase;
    font-size: 2rem;
    box-sizing: border-box;
    resize: none; 
    width: 37.5rem;
    height: 16.563rem;
    background: var(--first-color);
}

#text__area:focus {
    outline: none;
}

::placeholder {
    color: #dd8b2674;
    font-size: 2rem;
}

.information__and__buttons{
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.information {
    display: flex;
    align-items: center; 
    gap: 0.313rem; 
    margin-bottom: 0.313rem;
    margin-top: 3.125rem; 
}

.information img {
    width: 0.875rem; 
    height: auto;
}

.information h6 {
    margin: 0; 
    font-size: 0.875rem; 
    font-weight: 200; 
    color: var(--fourth-color); 
}

.buttons button {
    font-size: 1rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--second-color);
    color: rgba(255, 255, 255, 0.822);
    width: 18.75rem;
    height: 4.188rem;
    text-align: center;
    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
}

.buttons__encrypt, .buttons__decrypt {
    transition: all 0.5s;
}

.buttons {
    display: flex;
    gap: 1.875rem;
    margin-top: 1.125rem;
}

.buttons__copy {
    border: 0.063rem solid var(--second-color);
    border-radius: 1.5rem;
    background-color: transparent;
    color: var(--second-color);
    width: 28.125rem;
    height: 3.563rem;
    margin-top: 2.813rem;
    text-align: center;
    cursor: pointer;
}

.message {
    border: none;
    border-radius: 1.5rem;
    background: var(--third-color); 
    position: relative;
    overflow: auto;
    margin-left: 0rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    width: 30.625rem;
    height: 34.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
}

#message__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.188rem;
}

.message h1,
.message h3,
.message img {
    margin: 0;
    text-align: center;
}

.message img {
    height: 15.625rem; 
    width: auto;
    animation: slideDownUp 3s ease-in-out infinite; /* Animação de 3 segundos, repetida indefinidamente */
}

.message h1 {
    font-size: 1.375rem;
    font-weight: 600;
    color: var(--second-color);
}

.message h3 {
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--fourth-color);
}

#text__output {
    border: none;
    color: var(--second-color);
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    background: transparent;
    resize: none;
    padding: 0.625rem;
    box-sizing: border-box;
    margin-bottom: 18.75rem;
    margin-right: 1.25rem;
}

#text__output:focus {
    outline: none;
}

/* Oculta o botão "Copy" e a mensagem criptografada por padrão */
.hidden {
    display: none;
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 400;
    gap: 0.125rem;
}

.footer p{
    font-weight: 300; 
    color: var(--fourth-color); 
}
.footer__github {
    text-decoration: none;
    color: var(--second-color);
}

.footer__image {
    width: 1.5rem; 
}

.footer__github__nick {
    line-height: 1.25; 
    font-weight: 600;
    transition: 0.5s all;
}

.footer__github__nick:hover {
    font-size: 1.1rem;
}

@keyframes slideDownUp {
    0% {
        transform: translateY(-0.438rem); /* Início acima do elemento */
    }
    50% {
        transform: translateY(0rem); /* Ponto mais baixo */
    }
    100% {
        transform: translateY(-0.438rem); /* Volta ao ponto inicial */
    }
}